{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/user.css') }}">
{% endblock %}

{{ form_start(form) }}
    <div class="form-fields">
        {{ form_widget(form) }}
    </div>
    <div class="form-actions center-aligned">
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Cancel</a>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
